<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Sebuah Website yang dibuat untuk project portfolio"
		/>
		<!-- GET title dari data response -->
		<title><%= title %></title>

		<!-- Menambahkan file css untuk halaman spesifik -->
		<%- style %>

		<!-- Include style utama yang di gunakan di semua website -->
		<%- include('../partials/styles.ejs') %>
	</head>

	<body>
		<!-- Menambahkan navbar -->
		<%- include('nav') %>

		<!-- body dari setiap halaman -->
		<%- body %>

		<!-- menambahkan file js untuk halaman spesifik -->
		<%- script %>

		<!-- Include script utama yang digunakan di semua website -->
		<%- include('../partials/scripts.ejs') %>
	</body>
</html>
